/* @override http://splee.co.uk/css/style.css */

.meta {
	color: gray;
	margin-bottom: 0.5em;
}

.wrap {
    width: 100%;
}

.header.wrap {
	background-color: #333;
	margin-bottom: 1em;
}
header h1 {
	margin: 0.2em 0px;
}
header h1 a {
	color: #eee;
	text-decoration: none;
    font-family: 'Lobster', arial, serif;
    text-shadow: 2px 2px 2px #666;
    position: relative;
    top: -4px
}
.col > h2,
.post h2 a,
.post h2,
.post h3,
.post h4 {
    font-family: 'Vollkorn', arial, serif;
}
ul {
	margin-bottom: 1.52em;
}
