<!DOCTYPE html>
<html>
<head>
    <title>splee.io - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/text.css" />
    <link rel="stylesheet" href="/css/960.css" />
</head>
<body>
    <header class="container_12">
        <div class="grid_6">
            <h1><a href="/">splee.blog</a></h1>
        </div>
        <nav class="grid_6">
            <a href="http://twitter.com/splee">Twitter</a>
            <a href="http://github.com/splee/">Github</a>
        </nav>
    </header>
    <section class="container_12">
        {{ content }}
    </section>
</body>
</html>
