<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>splee.co.uk - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <script src="/js/html5.js"></script>
</head>
<body>
<div class="row">
    <header>
        <div class="logo left">
            <h1><a href="/">splee.blog</a></h1>
        </div>
        <nav class="social right">
            <a href="http://twitter.com/splee" class="twitter">Twitter</a>
            <a href="http://github.com/splee/" class="github">Github</a>
        </nav>
    </header>
</div>
<div class="clear"></div>
{{ content }}
</body>
</html>
