<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>splee.co.uk - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <script src="/js/html5.js"></script>
    <script src="http://platform.twitter.com/anywhere.js?id=yMWZ8QSn1TjtVE4xRu7g&amp;v=1"></script>
</head>
<body>
<div class="row">
    <header>
        <div class="logo left">
            <h1><a href="/">splee.blog</a></h1>
        </div>
        <nav class="social right">
            <span id="twitter-follow"></span>
        </nav>
    </header>
</div>
<div class="clear"></div>
{{ content }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
