---
layout: default
---

<div class="row">
    <article class="post col_10 col">
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <div class="meta">
            Published <time>{{ page.date | date_to_string }}</time>
        </div>
        {{ content }}
    </article>
    <aside class="col col_6 social">
        <span id="twitter-follow"></span>
    </aside>
</div>
<div class="row comments">
    <div id="tweetbox" class="col_10 col"></div>
</div>
<div class="clear"></div>
</div>
<script>
    var root_tweet_id = '{{ tweet_id }}';
</script>
<script src="/js/post.js"></script>
