---
layout: default
---

<div class="row">
    <article class="post col_10 col">
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <div class="meta">
            Published <time>{{ page.date | date_to_string }}</time>
        </div>
        {{ page.content }}
    </article>
    <aside class="col col_6 social">
    </aside>
</div>
<div class="clear"></div>

<div class="row">
    <div class="disqus col col_10">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'spleeblog';

        var disqus_identifier = '{{ page.id }}';
        var disqus_url = 'http://splee.co.uk{{ page.url }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
